
 <h3> Manage the guidelines</h3>
<p>
  <a class="btn btn-outline-primary" routerLink="/admin"><< Back to home admin</a>
  <a class="btn btn-outline-primary" routerLink="/admin/guideline/edit">Add a guideline</a>
</p>
 <div class="content">
 
  <div>
    <table class="table table-striped table-sm table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Document file</th>
          <th>Type</th>
          <th>Author</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guideline of guidelines">
            <td>{{guideline.name}}</td>
            <td>{{guideline.description}}</td>
            <td>{{guideline.file}}</td>
            <td>{{guideline.type}}</td>
            <td><ng-container *ngIf="guideline.user !== null">{{guideline.user.firstName}} {{guideline.user.lastName}}</ng-container></td>
            <td>
              <a class="btn btn-outline-primary" routerLink="/admin/guideline/edit/{{guideline.id}}" routerLinkActive="router-link-active" >Edit</a>
              <a class="btn btn-outline-primary" href="#" (click)="deleteGuideline(guideline.id)" routerLinkActive="router-link-active">Delete</a></td>
          </tr>
      </tbody>
    </table>
  </div>
  &nbsp;
  &nbsp;
</div>
