
.navbar-toggler {
    cursor: pointer;
    /*display:none;*/
}


@media (min-width: 768px) {
  .monMenu {
    width:50%;
  }
}

@media (max-width: 768px) {
  .monMenu {
    display:block;
  }

  .navbar-toggler {
    display:block;
  }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}