<div class="container" class="bg-info">
  <div class="row">
    <div class="col-lg-1 col align-self-center">
      <!--Navbar-->
      <nav class="navbar navbar-expand{-sm|-md|-lg|-xl} navbar-light bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar brand -->
        <!-- <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Links -->
          <!-- <ul class="navbar-nav mx-auto">
                <li class="nav-item active"> -->
          <a class="nav-link" id="fontSize" *ngFor="let m of menuService.getList('header')" [style.color]="menuService.selectedMenu.name === m.name ? 'pink' : 'black'"
            (click)="selectMenu(m, $event)" routerLink="{{m.path}}">
            {{m.name}}</a>
          <!-- <a class="nav-link" routerLink="/home">Home page <span class="sr-only">(current)</span></a>
                    <a class="nav-link" routerLink="/guideline">GuideLines <span class="sr-only">(current)</span></a>
                    <a class="nav-link" routerLink="/organizationchart">Organization chart</a>
                    <a class="nav-link" routerLink="/diagnostic">Diagnostic</a> -->
          <!-- </li>
                </ul>  -->
          <!-- Links -->

        </div>
        <!-- Collapsible content -->
      </nav>
      <!--/.Navbar-->
    </div>
    <div class="col-lg-9 text-sm-center mx-auto d-none d-sm-block col align-self-center" >
     
        <h2 class="text align-self-center">Wiki Patrimoine Digital France</h2>
     
    </div>
    <div class="col-lg-2 col align-self-center">
      <app-authentication></app-authentication>
    </div>
  </div>
</div>






