<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>



<!-- <mat-toolbar fxLayout="column" fxLayoutAlign="center">
   
    <mat-toolbar-row class="toolbar" fxLayoutAlign="space-around" fxHide.xs>
        <span id="titleResponsive" class="col-md-12" >Wiki Patrimoine Digital France</span>
     </mat-toolbar-row>
    <mat-toolbar-row class="align" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxHide.xs>
      <div class="col-xl-9">
      </div>
      <div  class="col-xl-3  align">
        <app-authentication></app-authentication>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
         <button mat-icon-button [matMenuTriggerFor]="menu" class="col-md-1">
        <mat-icon fl>more_vert</mat-icon>
      </button>
           <mat-menu #menu="matMenu">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
             <a mat-list-item routerLink="/guideline">GuideLines </a>
            <a mat-list-item routerLink="/organizationchart">Organization chart </a>
            <a mat-list-item routerLink="/diagnostic">Diagnostic </a>
           </li>
        </ul>
      </mat-menu>
     </mat-toolbar-row>
   </mat-toolbar> -->
<!-- 
<div class="row">
    <div class="col-xl-12 navbar navbar-expand-xl navbar-light bg-light">
      <div class="col-xl-9">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/">Home page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/guideline">GuideLines</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="/organizationchart">Organization chart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/diagnostic">Diagnostic</a>
              </li>
            </ul>
            <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Guide Line Technique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Guide Line Fonctionnel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Architecture Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Référentiel Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Etat des Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Infos Pratiques</a>
          </li>
        </ul>
      </div>
      <div  class="col-xl-3  align">
           <app-authentication></app-authentication>
      </div>
    </div>
  </div> -->


