
.navbar-toggler {
    cursor: pointer;    
}

#menuTitleAndAuth {
  border:1px black solid;
  border-radius:15px;
}


@media (max-width: 768px) {
  .burgerMenu {
    display:block;
  }

  .navbar-toggler {
    display:block;
  }
}
