
  <div class="row">
    <div class="col-xl-12 navbar navbar-expand-xl navbar-light bg-light">
      <div class="col-xl-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Guide Line Technique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Guide Line Fonctionnel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Architecture Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Référentiel Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Etat des Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Infos Pratiques</a>
          </li>
        </ul>
      </div>
      <div  class="col-xl-3  align">
           <app-authentification></app-authentification>
      </div>
    </div>
  </div>


