<h3>Manage servers</h3>
<app-nav-bar class="col-6 mx-auto text-center" [menuListId]="'admin-server'" navId="adminServer"></app-nav-bar>

<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>

<div class="searchForm d-flex md-form active-cyan active-cyan-2 mb-3">
  <input class="champ" type="text" [(ngModel)]="queryString" id="search" placeholder="Search a server" />
  <i class="fa fa-search"></i>
</div>

<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table class="table table-striped table-lg table-hover table-responsive">


  <thead class="thead-dark">
    <tr>
      <th>Server</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of servers | FilterServer:queryString">
      <td>{{server.name}}</td>
      <td class="alignButton">
        <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/server/edit/{{server.id}}" title="edit server : {{server.name}}"><img
            src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" (click)="delete(server.id)" title="delete server : {{server.name}}"><img src="/assets/img/bin.png" /></a>
      </td>
    </tr>

  </tbody>
</table>
