<h3>Manage applications</h3>
<p>
  <a class="btn btn-outline-primary" routerLink="/admin/diagnostic"> << Back to manage diagnostics</a>
  <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/application/edit/">Add an application </a>
</p>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table class="table table-striped table-sm table-bordered table-hover table-responsive">
  <caption>
    <h4>Applications list</h4>
  </caption>
  <thead class="thead-light">
    <tr>
      <th>codeApp</th>
      <th> Title</th>
      <th> Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>{{application.codeApp}}</td>
      <td>{{application.title}}</td>
      <td>{{application.description}}</td>
      <td>
        <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/application/edit/{{application.id}}" title="edit application : {{application.codeApp}}"><img
            src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" (click)="delete(application.id)" title="delete role : {{application.codeApp}}"><img
            src="/assets/img/bin.png" /></a>
    </tr>

  </tbody>
</table>

