<h3>Manage roles</h3>
<p>
  <a class="btn btn-outline-primary" routerLink="/admin/user"><< Back to manage users</a>
  <a class="btn btn-outline-primary" routerLink="/admin/role/edit">Add a role</a>
</p>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table class="table table-striped table-sm table-bordered table-hover table-responsive">
  <caption>
      <h4>Roles for users</h4>
  </caption>
  <thead  class="thead-light">
    <tr>      
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles">     
      <td>{{role.name}}</td>
      <td>
        <a class="btn btn-outline-primary" routerLink="/admin/role/edit/{{role.id}}" title="edit role : {{role.name}}"><img src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" href="#"  (click)="delete(role.id)" title="delete role : {{role.name}}"><img src="/assets/img/bin.png" /></a>
    </tr>
    
  </tbody>
</table>