<h2>Manage roles</h2>
<p>
    <a routerLink="/admin/user">Back to manage users</a>
</p>
<p> 
  <a routerLink="/admin/role/edit">Add a role</a>
</p>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table>
  <thead>
    <tr>      
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles">     
      <td>{{role.name}}</td>
      <td>
        <a href="#" routerLink="/admin/role/edit/{{role.id}}">Edit</a>
        <a (click)="delete(role.id)">Delete</a>
    </tr>
    
  </tbody>
</table>