<p *ngIf="error" class="errorMsg">{{error}}</p>
<div *ngIf="user === null; then loginBlock; else userLogOutBlock"></div>
<ng-template #loginBlock>
  <div class="row">
    <div class="col-6">
      <form class="needs-validation" novalidate [formGroup]="profileForm">
        <div class="form-group row">
          <label class="col-4 col-form-label" for="uid">UID</label>
          <div class="col-8">
            <input autocomplete="username" type="text" class="form-control" [ngClass]="{'is-invalid': login.invalid && login.dirty, 'is-valid': login.valid && login.dirty}"
              formControlName="login" id="login" placeholder="UID" />
            <div *ngIf="login.invalid && (login.dirty || login.touched)" class="invalid-feedback">
              <div *ngIf="login.errors.required">Your UID is required.</div>
              <div *ngIf="login.errors.minlength || login.errors.maxlength">Your UID must contain 6 characters (ex :
                A23515 or 417165)</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label" for="password">Password</label>
          <div class="col-8">
            <input autocomplete="current-password" type="password" class="form-control" id="password" [ngClass]="{'is-invalid': password.invalid && password.dirty, 'is-valid': password.valid && password.dirty}"
              formControlName="password" placeholder="Password" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors.required">Your password is required.</div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary" type="submit" [disabled]="!profileForm.valid" (click)="auth()">Sign In</button>
      or
      <button type="button" class="btn btn-outline-primary" routerLink="authentication/account/create">Sign Up ?</button>
      <a routerLink="/authentication/get-password" class="badge badge-primary">Lost password ?</a>
    </div>
  </div>
</ng-template>
<ng-template #userLogOutBlock>
  <p *ngIf="user != null" class="police">
   
    <a routerLink="/authentication/account/update" title="update yout account">
      <img src="/assets/img/account.png" />
      Bienvenue : {{ user.firstName }} {{ user.lastName }}     
    </a>
    <br />
     Vous êtes connecté(e) en tant que : {{user.role.name}}</p>
 
  <p>
    <a class="italic" routerLink="/admin" title="Go to admin menu"><img src="/assets/img/admin.png" alt="admin menu">Admin</a>
    |
    <a (click)="logOut()" title="Quit application">
      <img src="/assets/img/exit.jpg" alt="disconnect from wiki" />
    </a>
  </p>
</ng-template>
