.ok{
    border-color:green;
}

.ko{
    border-color:red;
}
img{
    height: 5%;
    width: 5%;
}
.police {
    font-size: 12px;
}

.italic {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: black;
}