<h2>What do you want to do ?</h2>

<div class="row">
  <div class="col-6">
    <ul>
      <li>
        <a  routerLink="/admin/guideline">Manage guidelines</a>
      </li>
      <li>
          <a  routerLink="/admin/organisationnal-chart">Manage the organisational chart</a>
      </li>
      <li>
            <a  routerLink="/admin/diagnostic">Manage diagnostic pages</a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul>
      <li><a routerLink="/admin/user">Manage users</a></li>
    </ul>
  </div>
</div>