<app-nav-bar [menuListId]="'view-guideline'" navId="viewGuideline"></app-nav-bar>
<h3> Consultation of guidelines</h3>
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <a routerLink="/guidelineFonctionnel">
          <div class="img">
            <img class="img-fluid" src="/assets/img/survival-guide.png" alt="" />
          </div>
          <div class="description text-center">
            <h2>Functional guidelines</h2>          
            <p class="description">Access to functional guidelines</p>
          </div>
        </a>
      </div>
      
      <div class="col-6 text-center"> 
        <a routerLink="/guidelineTechnique">
          <div class="img">
            <img class="img-fluid"  src="/assets/img/guide-technique.png" alt="" />
          </div>
          <div class="description text-center">
            <h2 class="title">Technical Guidelines</h2>        
           <p class="description">Access to technical guidelines</p>
        </div>
        </a>
      </div>    
    </div>
  </div>
</div>