<form class="needs-validation" novalidate [formGroup]="getForm">
    <fieldSet>
        <legend>Reset your password</legend>
    </fieldSet>
    <div class="row">
        <div class="col-5">
              
            <div class="form-group row">
                <label class="col-4 col-form-label" for="name">Uid :</label>
                <div class="col-8">
                  <input type="text" class="form-control" id="uid" [(ngModel)]="userUid" [ngClass]="{'is-invalid': uid.invalid && uid.dirty, 'is-valid': uid.valid && uid.dirty}" formControlName="uid" placeholder="your uid" />
                  <div *ngIf="uid.invalid && (uid.dirty || uid.touched)" class="invalid-feedback">
                      <div *ngIf="uid.errors.required">A name is required for a role.</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <button class="btn btn-primary" type="submit" [disabled]="!getForm.valid" (click)="reset()">Reset</button>
        </div> 
    </div>
  </form>