<h3>Manage layers</h3>
<app-nav-bar class="col-6 mx-auto text-center" [menuListId]="'admin-layer'" navId="adminLayer"></app-nav-bar>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>


<div class="searchForm d-flex md-form active-cyan active-cyan-2 mb-3">
    <input class="champ" type="text" [(ngModel)]="queryString" id="search" placeholder="Search a layer" />
    <i class="fa fa-search"></i>
  </div>

<table class="table table-striped table-lg table-hover table-responsive">
 
  <thead class="thead-dark">
      <tr>
      <th>Layer</th>
       <th>Servers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let layer of layers | FilterLayer:queryString">
      <td>{{layer.name}}</td>
 
      <td>
        <ul *ngFor="let server of layer.servers">
          <li>- {{server.name}} </li>
        </ul>
        </td>   
      <td class="alignButton">
        <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/layer/edit/{{layer.id}}" title="edit layer : {{layer.name}}">
          <img src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" (click)="delete(layer.id)" title="delete layer : {{layer.name}}"><img
            src="/assets/img/bin.png" /></a>
      </td>
    </tr>

  </tbody>
</table>

