<nav class="navbar navbar-icon-top navbar-expand-lg navbar-primary bg-light" id="{{navId}}">
      
  <button class="navbar-toggler" type="button" data-toggle="collapse" [attr.data-target]="'#navbarSupportedContent'+navId" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>    
  </button>
  <!-- https://fontawesome.com/v4.7.0/icons/ -->
  <!-- https://bootsnipp.com/snippets/featured/bootstrap-4-navbar-with-icon-top -->
  <div class="collapse navbar-collapse " id="navbarSupportedContent{{navId}}">
      <ul class="navbar-nav mr-auto">
          <li *ngFor="let itemMenu of menuList" class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="{{itemMenu.path}}">
              <i class="fa {{itemMenu.icon}}"></i>              
              {{itemMenu.name}}               
              <span class="sr-only">(current)</span>
              </a>
          </li>            
      </ul>        
  </div>
</nav>
    
