<app-nav-bar [menuListId]="'organisationnal-chart'" navId="organisationnalChart"></app-nav-bar>
<h3>Digital Team : Organisationnal Chart</h3>
<div id="orga">
    <div id="organisation"></div>
    <div id="listFonctions" >
        <app-modal-function *ngFor="let function of functions" [fonction]="function" [idModal]="'function-'+function.id"></app-modal-function>
    </div>
    <div id="listMembers" >
            <app-modal-member *ngFor="let member of members" [member]="member" [idModal]="'member-'+member.id"></app-modal-member>
        </div>
</div>