<footer class="row fixed-bottom">
  <div class="col-xl-12 justify-content-center navbar navbar-expand-xl navbar-light bg-light">

    <div class="col-xl-3 mx-sm-2 my-sm-3 ">
      <address>
        <strong>BNP Paribas Personnal Finance, Inc.</strong><br />
        143, rue Anatole France<br />
        Levallois, CP 92300<br />
        <abbr title="Phone">P:</abbr> (+331)49.21.32.89
      </address>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3">
      <address>
        <strong>Nous Contacter :</strong><br />
        Responsable Patrimoine: <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Dimitri RODRIGUES</a><br />
        Responsable Equipe : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Cedric LEGAVRE</a><br />
        Referent Fonctionnel : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Pacome BADOUAL</a><br />
        Referent Technique : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Lucas FANGBE</a><br />
      </address>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3">
      <address>
        <strong>Contacter Responsable SQUAD :</strong><br />
        Responsable SQUAD Souscription : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Virginie Queguiner</a><br />
        Responsable SQUAD Relation de Compte : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Laurent KOWALCZYK</a><br />
        Responsable SQUAD Prospection : <a href="mailto:List.PFT.DIGITALEXPERIENCEEXPERT@bnpparibas-pf.com">Ilizette BOAVENTURA</a><br />
      </address>
    </div>
  </div>
</footer>

