<h3> Add a layer</h3>

<app-nav-bar class="col-6 mx-auto text-center" [menuListId]="'admin-layer-edit'" navId="adminLayerEdit"></app-nav-bar>

<ng-container *ngIf="layer != null">
<form class="needs-validation" novalidate [formGroup]="layerForm">
<fieldSet>
  <legend>Layer</legend>
</fieldSet>

  <p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
 
  <div class="row">

    <div class="col-5">

      <div class="form-group row">
        <label class="col-4 col-form-label" for="name">Name : (*)</label>
        <div class="col-8">
          <input type="text" class="form-control" id="name" [(ngModel)]="layer.name" [ngClass]="{'is-invalid': name.invalid && name.dirty, 'is-valid': name.valid && name.dirty}" formControlName="name" placeholder="Name of layer" />
          <small class="form-text text-muted">This field is required </small>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
              <div *ngIf="name.errors.required">Choose a name for this layer</div>
          </div>
        </div>
      </div>


      <div class="form-group row">
          <label class="col-4 col-form-label" for="environ">Environment :</label>
          <div class="col-8">

              <select *ngIf="layer.environ !== null" id="environ" formControlName="layerEnvironment" [(ngModel)]="layer.environ.id" #environmentSelect>
                  <option *ngFor="let environ of environments" [value]="environ.id">{{environ.name}}</option>
              </select>

              <select *ngIf="layer.environ === null" id="environ" formControlName="layerEnvironment" (change)="changeEnvironment(environmentSelect.value)" #environmentSelect>
                  <option *ngFor="let environ of environments" [value]="environ.id">{{environ.name}}</option>
              </select>
              
              <small class="form-text text-muted">Optional but it is recommanded to allow user actions on Wiki </small>
          </div>
          
      </div>

    </div>
   </div>
  <button class="btn btn-outline-primary" type="submit" (click)="save()">Save</button>
</form>
</ng-container>