<h2 class="text-center">Welcome to the Patrimoine Digital's WIKI</h2>
<h3 class="text-center">Choose yout destination : </h3>
<div class="container">
  <div id="carousel">
    <figure routerLink="/guideline"> 
      <img src="/assets/img/guidelines.jpg" alt="Guidelines">
      <figcaption>Consult our guidelines</figcaption>
    </figure>
    <figure routerLink="/organizationchart">
      <img src="/assets/img/organigrammes.jpg" alt="Orga">
      <figcaption>See our organizationnal chart</figcaption>
    </figure>
    <figure routerLink="/diagnostic">
      <img src="/assets/img/diag.jpg" alt="Diag">
      <figcaption>See diagnostic's pages</figcaption>
    </figure>
  </div>
</div>
