<h3>Role edit</h3>
<app-nav-bar [menuListId]="'admin-role-edit'" navId="adminRoleEdit"></app-nav-bar>
<ng-container *ngIf="role != null">
<form class="needs-validation" novalidate [formGroup]="roleForm">
  <fieldSet>
    <legend>Role</legend>
    <p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
    <div class="row">
      <div class="col-5">
        <div class="form-group row">
          <label class="col-4 col-form-label" for="name">Name : (*)</label>
          <div class="col-8">              
            <input type="text" class="form-control" id="name" [(ngModel)]="role.name" [ngClass]="{'is-invalid': name.invalid && name.dirty, 'is-valid': name.valid && name.dirty}" formControlName="name" placeholder="Name of Role" />
            <small class="form-text text-muted">Nb : Role will be saved with uppercase transformation</small>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                <div *ngIf="name.errors.required">A name is required for a role.</div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-7">
          <button class="btn btn-outline-primary" type="submit" (click)="save()">Save</button>
      </div>
    </div>
  </fieldSet>
</form>
</ng-container>