<p>
  <a routerLink="/admin/organisationnal-chart">Back to list of roles</a>
</p>
<ng-container *ngIf="team != null">
<form class="needs-validation" novalidate [formGroup]="teamForm">
<fieldSet>
  <legend>Role</legend>
  <p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
  <div class="row">
    <div class="col-5">
      
      <div class="form-group row">
        <label class="col-4 col-form-label" for="name">Name :</label>
        <div class="col-8">
          <input type="text" class="form-control" id="name" [(ngModel)]="team.name" [ngClass]="{'is-invalid': name.invalid && name.dirty, 'is-valid': name.valid && name.dirty}" formControlName="name" placeholder="Name of Role" />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
              <div *ngIf="name.errors.required">A name is required for a team.</div>
          </div>
        </div>
      </div> 

      <div class="form-group row">
        <label class="col-4 col-form-label" for="role">Role :</label>
        <div class="col-8">
  
            <select *ngIf="team.team !== null" id="team" formControlName="teamParent" [(ngModel)]="team.team.id" #teamSelect>
              <option [value]="null">Choose a team</option>  
              <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
  
            <select *ngIf="team.team === null" id="team" formControlName="teamParent" (change)="changeTeam(teamSelect.value)" #teamSelect>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
        </div>
    </div>

    </div>

   


    <div class="col-7">
        <button class="btn btn-primary" type="submit" (click)="save()">Save</button>
    </div>
  </div>
</fieldSet>
</form>
</ng-container>