/* You can add global styles to this file, and also import other style files */
.errorMsg {
    color:red;
}



caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #868e96;
    text-align: left;
    caption-side: top;
  }

table.table > tbody > tr:hover > td{
    background-color:#DDDDDD;
}

/** Organisationnal Chart **/
#organisation table {
    border-collapse: separate;	
}

span.responsible{
    color:red;
}

span.team {
    color:rgba(228, 119, 105,1);
    font-size:16px;
    font-weight:bold;
}
