p {
  text-align: center;
}


// select {

//   border: 1px solid grey;
//   border-radius: 5px;
//   width: 200px;
//   font-family: serif;
// }

// label {
 
//   display: block;
//   font-family: serif;
//  width: 150px;
//   float: left;
// }

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 0 5px;
  display: block;
 
 width: 100px;
  float: left;
}

.form select {
  margin: 0 15px 0 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 150px;
 
    
  }

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
   background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
margin-left: 10px;
  background-color: rgb(125, 170, 216);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  height: 25px;
  font-size: 15px;
  padding-top: 0px;
}



@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}