.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
   background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
margin-left: 10px;
  background-color: rgb(125, 170, 216);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  height: 25px;
  font-size: 15px;
  padding-top: 0px;
}



@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.fa{
  font-size:24px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media (max-width: 768px) {
  select {
    font-size: 10px;
  }
}

div#myTable{
  margin:20px 0 0 0;
}


div#mySelect{
  margin:35px 0 0 0;
}