<h3> Consultation of Diagnostics</h3>
<p>Find the diagnostic page for your problem</p>


<app-nav-bar class="col-6 mx-auto text-center" [menuListId]="'diagnosticView'" navId="diagnosticView"></app-nav-bar>



<div class="container">
  <div class="row">



  <form class="form-inline">

      <!-- <input class="champ" type="hidden" [(ngModel)]="queryString" name="search" id="search" /> -->

<!--   
      <label class="control-label" for="application">Application: </label> -->

      <select (change)="onChangeApplication($event.target.value)" class=" input-lg" id="application"  [(ngModel)]="selectedApplication" name="application">
        <option value="">Select an application</option>
        <option *ngFor="let application of applications" value={{application.id}}>{{application.codeApp}}</option>
      </select>



<!--    
      <label class="control-label" for="environ">Environment: </label> -->

      <select (change)="onEnvironmentSelect($event.target.value)" [(ngModel)]="selectedEnviron" name="environ" class="input-lg" id="environ">
            <option value="">Select an environment</option>
        <option *ngFor="let environ of envirs" value={{environ.id}}>{{environ.name}}</option>
      </select>
   


<!--   
      <label class="control-label" for="layer">Layer: </label> -->

      <select (change)="onLayerSelect($event.target.value)" [(ngModel)]="selectedLayer" name="layer" class=" input-lg"
        id="layer">
        <option value="">Select a layer</option>
        <option *ngFor="let layer of layers" value={{layer.id}}>{{layer.name}}</option>
      </select>
  

<!--    
      <label class="control-label" for="server">Server: </label> -->

      <select (change)="onServersSelect($event.target.value)"class=" input-lg"  [(ngModel)]="selectedServer" id="server" name="server">
        <option value="">Select a server</option>
        <option *ngFor="let server of servers" value={{server.id}}>{{server.name}}</option>
      </select>
   
    <button type="reset" class="btn btn-primary">Reset</button>

  </form>
</div>


<div class="row">


<div class="col-sm-12" >

</div>
 
  <table class="table table-striped table-sm table-bordered table-hover table-responsive">
      <caption>
        <h5>Diagnostics list</h5>
      </caption>
    
    
      <thead class="thead-light">
            <tr class="colorLign">
        </tr>
        <tr>
          <th>URL</th>
          <th>Code App</th>
          <th>Name of server</th>
          <th>Name of layer </th>
          <th>Name of environ </th>
     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let diagnostic of diagnostics | FilterDiagConsult:queryString">
            <td><a href="{{diagnostic.url}}">{{diagnostic.url}}</a></td>
            <td>{{diagnostic.application.codeApp}}</td>
            <td>{{diagnostic.server.name}}</td>
            <td>{{diagnostic.server.layer.name}}</td>
            <td>{{diagnostic.server.layer.environ.name}}</td>
            
        </tr>
      </tbody>
    </table>
  </div>
 </div>
