<h3>Manage functions</h3>
<app-nav-bar class="col-10" [menuListId]="'admin-function'" navId="adminFunction"></app-nav-bar>

<table class="table table-striped table-sm table-bordered table-hover table-responsive">
    <caption>
        <h4>All possible functions in teams</h4>
    </caption>
  <thead>
    <tr>      
      <th>Function</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let fonctionMember of fonctionsMembers">     
        <tr  class="row{{fonctionMember.id}}">  
          <td>{{fonctionMember.name}}</td>
          <td>
            <a class="btn btn-outline-primary" routerLink="/admin/organisationnal-chart/function/edit/{{fonctionMember.id}}" title="edit team : {{fonctionMember.name}}"><img src="/assets/img/edit.png" /></a>
            <a class="btn btn-outline-primary" (click)="delete(fonctionMember.id)" title="delete function : {{fonctionMember.name}}"><img src="/assets/img/bin.png" /></a>
          </td>
        </tr> 
    </ng-container>   
  </tbody>
</table>