
.navbar-toggler {
    cursor: pointer;    
}

#menuTitleAndAuth {  
  border:2px;
  border-radius:15px;
  padding:10px;
}


@media (max-width: 768px) {
  .burgerMenu {
    display:block;
  }

  .navbar-toggler {
    display:block;
  }
}