<div class="container-fluid bg-light border border-primary" id="menuTitleAndAuth">
  
  <div class="row">    
    
    <div class="col-{{isAuth === true ? '10':'9'}}" >     
        <h1 class="text-center" >          
          <img src="/assets/img/logo-wiki.png"  alt="logo wiki digital"/>
          Patrimoine Digital France         
        </h1>     
    </div>

    <div class="col-{{isAuth === true ? '2':'3'}} pull-right">
      <app-authentication></app-authentication>
    </div>

  </div>
</div>
<app-nav-bar [menuListId]="'header'" navId="header"></app-nav-bar>
