<h3>Manage environments</h3>
<app-nav-bar  [menuListId]="'admin-environnement'" navId="adminEnvironnement"></app-nav-bar>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table class="table table-striped table-sm table-bordered table-hover table-responsive">
  <caption>
    <h4>Environments list</h4>
  </caption>
  <thead class="thead-light">
      <tr class="colorLign">
          <th class="search" colspan="6">
         <input class="champ" type="text" [(ngModel)]="queryString" id="search" name="search" placeholder="Search an environment" />
       </th>
     </tr>
     <tr class="colorLign">
     </tr>
    <tr>
      <th>Environments name</th>
      <th>Layers name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let environment of environments | FilterEnv:queryString ">
      <td>{{environment.name}}</td>
      <td>
        <ul *ngFor="let layer of environment.layers" >
          <li> {{layer.name}} </li>
        </ul>
        </td>   
      <td>
        <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/environnement/edit/{{environment.id}}" title="edit environment : {{environment.name}}"><img
            src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" (click)="delete(environment.id)" title="delete environment : {{environment.name}}"><img
            src="/assets/img/bin.png" /></a>
      </td>
    </tr>

  </tbody>
</table>
