
h1{
	margin: 1% auto 0;
    text-transform: uppercase;
    text-align: center;
	font-style: italic;
  	font-size: 3em;
    font-weight: bold, 200;
    color:#5DADE2;
	text-shadow: 0 1px white, 0 2px black;
}