<div class="row topMenu">
  <div class="col-12 mx-auto text-center">
    <h3>Manage the diagnostics pages</h3>

    <div class="row">
      <app-nav-bar class="col-6 mx-auto text-center" [menuListId]="'admin-diag'" navId="adminDiag"></app-nav-bar>
    </div>

  </div>

  

</div>

<div class="searchForm d-flex md-form active-cyan active-cyan-2 mb-3">
    <input class="form-control" [(ngModel)]="queryString" type="text" id="search" placeholder="Search in diagnostics" aria-label="Search">
    <i class="fa fa-search"></i>        
</div>

<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>




<table class="table table-striped table-sm table-bordered table-hover table-responsive">
  <thead class="thead-dark">   
    <tr>
      <th>URL</th>
      <th>Code App</th>
      <th>Server</th>
      <th>Layer </th>
      <th>Environment </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let diagnostic of diagnostics | FilterPipe:queryString">
      <td><a href="{{diagnostic.url}}">{{diagnostic.url}}</a></td>
      <td>{{diagnostic.application.codeApp}}</td>
      <td>{{diagnostic.server.name}}</td>
      <td>{{diagnostic.server.layer.name}}</td>
      <td>{{diagnostic.server.layer.environ.name}}</td>

      <td>
        <a class="btn btn-outline-primary" routerLink="/admin/diagnostic/edit/{{diagnostic.id}}" title="edit diagnostic : {{diagnostic.url}}">
          <img src="/assets/img/edit.png" /></a>
        <a class="btn btn-outline-primary" (click)="delete(diagnostic.id)" title="delete diagnostic : {{diagnostic.url}}"><img
            src="/assets/img/bin.png" /></a>
      </td>
    </tr>
  </tbody>
</table>
