<h3>Account password change</h3>
<p *ngIf="noAccount === false">
  Your password has been successfully changed
</p>
<form *ngIf="noAccount === true" class="needs-validation" novalidate [formGroup]="userForm">
  <fieldSet>
      <legend>Account Creation</legend>
      <div class="row">            
        <div class="col-5">            
          <div class="form-group row">
              <label class="col-4 col-form-label" for="name">Password :</label>
              <div class="col-8">
                <input type="text" class="form-control" id="password" [ngClass]="{'is-invalid': password.invalid && password.dirty, 'is-valid': password.valid && password.dirty}" formControlName="password" placeholder="password of user" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password required</div>
                    <div *ngIf="password.errors.minlength">Password minlength is 4 characters</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="form-group row">                
        <div class="col-8">
          <button class="btn btn-outline-primary" type="submit" [disabled]="!userForm.valid" (click)="save()">Save</button>
        </div>
      </div> 
    

  </fieldSet>
</form>
