<div class="container-fluid">
<app-header></app-header>
<router-outlet></router-outlet>
 <!-- <div class="row  justify-content-center">
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
        <h5 class="card-header text-center">Guide Line Technique</h5>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
      <h5 class="card-header text-center">Guide Line fonctionnel</h5>
      <div class="card-body">
        <h5 class="card-title">Si tu veux devenir un Cador fonctionnel c'est ICI</h5>
        <p class="card-text">Guide pratique afin d'acquérir les bonnes pratiques de conception fonctionnelle</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
      <h6 class="card-header text-center">Team Architecture</h6>
      <div class="card-body">
        <h5 class="card-title">Organigrammes Patrimoine Digitale</h5>
        <p class="card-text">
          <li>Organigramme Patrimoine     <span class="badge badge-pill badge-success">new</span></li>
          <li>Organigramme Team Architecture    <span class="badge badge-pill badge-success">new</span></li>
        </p>
      </div>
        <div class="card-body">
        <h5 class="card-title">Organigrammes Patrimoine Digitale</h5>
        <p class="card-text">
        <li>Organigramme Patrimoine     <span class="badge badge-pill badge-success">new</span></li>
        <li>Organigramme Team Architecture    <span class="badge badge-pill badge-success">new</span></li>
        </p>
      </div>
        <a href="#" class="btn btn-primary">Lest GO</a>

    </div>
    </div>

  <div class="row text-center justify-content-center">
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
      <h5 class="card-header">Referentiel Service</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
      <h5 class="card-header">Etat des Applications</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-xl-3 mx-sm-2 my-sm-3 card">
      <h5 class="card-header">Infos Pratiques</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>-->

<app-footer></app-footer>

</div>
