<h2>Manage members</h2>
<p>
  <a class="btn btn-outline-primary" routerLink="/admin/organisationnal-chart" routerLinkActive="router-link-active"><< Back to Organisationnal Chart management</a>
  <a class="btn btn-outline-primary" routerLink="/admin/organisationnal-chart/member/edit">Add a member</a>
</p>
<p class="errorMsg" *ngIf="error != null">{{error.msg}}</p>
<table class="table table-striped table-sm table-bordered table-hover table-responsive">
    <caption>
        <h4>All team's members with functions and team</h4>
    </caption>
  <thead>
    <tr>      
      <th>FirstName</th>
      <th>LastName</th>
      <th>Mail</th>
      <th>Team</th>
      <th>Function</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">     
      <td>{{member.firstName}}</td>
      <td>{{member.lastName}}</td>
      <td>{{member.mail}}</td>
      <td>{{member.team.name}}</td>
      <td>{{member.function.name}}</td>
      <td>
        <a class="btn btn-outline-primary" routerLink="/admin/organisationnal-chart/member/edit/{{member.id}}">Edit</a>
        <a class="btn btn-outline-primary" href="#"  (click)="delete(member.id)">Delete</a>
    </tr>
    
  </tbody>
</table>